################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto CSharp/.vs/SchoolOccurrences/DesignTimeBuild
/Projeto CSharp/.vs/SchoolOccurrences/v15
/Projeto CSharp/.vs/SchoolOccurrences/v16
/Projeto CSharp/SchoolOccurrences.Ocuurrence.API/bin/Debug/netcoreapp2.0
/Projeto CSharp/SchoolOccurrences.Ocuurrence.API/obj
/Projeto CSharp/SchoolOccurrences.Ocuurrence.API/Properties
/Projeto CSharp/SchoolOccurrences.School.API/bin/Debug
/Projeto CSharp/SchoolOccurrences.School.API/obj
/Projeto CSharp/SchoolOccurrences.School.API/Properties
/Projeto CSharp/SchoolOccurrences.School.Domain/bin/Debug/netstandard2.0
/Projeto CSharp/SchoolOccurrences.School.Domain/obj
/Projeto CSharp/SchoolOccurrences.School.Infra/bin/Debug/netcoreapp2.0
/Projeto CSharp/SchoolOccurrences.School.Infra/obj
/Projeto CSharp/SchoolOccurrences.School.Tests/bin/Debug/netcoreapp2.0
/Projeto CSharp/SchoolOccurrences.School.Tests/obj
/Projeto CSharp/SchoolOccurrences.Shared.Commons/bin/Debug/netstandard2.0
/Projeto CSharp/SchoolOccurrences.Shared.Commons/obj
/Projeto CSharp/SchoolOccurrences.Student.API/bin/Debug/netcoreapp2.0
/Projeto CSharp/SchoolOccurrences.Student.API/obj
/Projeto CSharp/SchoolOccurrences.Student.API/Properties
